.cameraContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: black;
}

.darkBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

.webcamVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.webcamVideo.show {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.wrapBtn {
  position: absolute;
  top: calc(50% + 21vh);
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 12px;
  background-color: #00303d;
  padding: 12px 31px;
  font-family: system-ui, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #00303de6;
}

.viewfinder {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: transparent;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.viewfinder::before,
.viewfinder::after,
.viewfinder .bottom-left,
.viewfinder .bottom-right {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  box-sizing: border-box;
}

/* Верхний левый угол */
.viewfinder::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 15px;
}

/* Верхний правый угол */
.viewfinder::after {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 15px;
}

/* Нижний левый угол */
.viewfinder .bottom-left {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 15px;
}

/* Нижний правый угол */
.viewfinder .bottom-right {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 15px;
}

.scanBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.topControls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.exitBtn {
  background: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  border: none;
  font-size: 22px;
  font-weight: 600;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(6px);
}

.exitBtn:hover {
  background: rgba(0, 0, 0, 0.65);
}