.capturedWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.capturedImg {
    max-width: 45%;
}

.wrapBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

