/* .wrapper {
    width: 100%;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 15px;
}

.heading {
    margin-bottom: 16px;
    color: #1D2530;
    font-weight: 600;
} */

/* ----------------------- */

/* .wrapper {
    width: 100%;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 15px;
    position: relative;
}

.heading {
    margin-bottom: 16px;
    color: #1D2530;
    font-weight: 600;
}

.wrapper.inactive:hover::after {
    content: "Click 'Share Data'";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    white-space: nowrap;
    pointer-events: none; 
} */

/* -------------------------- */
.wrapper {
  width: 100%;
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 15px;
  position: relative; 
}

.heading {
  margin-bottom: 16px;
  color: #1D2530;
  font-weight: 600;
}

.inactive:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  color: #1D2530;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(102, 102, 100, 0.896);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 50;
}