.wrapResultPage {
    background-color: rgb(224, 222, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Вместо фиксированной высоты — минимум на экран */
    overflow-y: auto;
    /* Включаем вертикальную прокрутку */
    -webkit-overflow-scrolling: touch;
    /* плавный скролл на мобильных */
}

.capturedImageWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.capturedImage {
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 640px;
    padding: 24px 16px;
}

.ph {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 15px;
}

.phTitle {
    color: #627084;
    font-size: 18px;
    font-weight: 600;
}

.phValue {
    color: #1D2530;
    margin-top: 16px;
    font-size: 72px;
    font-weight: 700;
}

.phInfo {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 20px;
    color: #627084;
    font-size: 14px;
    flex-wrap: wrap;
}

.phConfidence {
    display: flex;
    font-size: 12px;
}

.phDescription {
    background-color: #FFFFFF;
    padding: 24px;
    width: 100%;
    border-radius: 15px;
}

.phDescription h3 {
    margin-bottom: 12px;
    color: #1D2530;
    font-weight: 600;
}

.phDescription p {
    color: #627084;
    font-size: 14px;
    line-height: 1.7;
}

.processingResults {
    width: 100%;
}

.wrapBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.wrapBtn .btn {
    width: 100%;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(189, 100%, 12%);
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    /* <-- важно! Разрешает кнопке сжиматься вместе с текстом */
    word-break: break-word;
    /* если нужно, переносим текст */
}

.btn:hover {
    background-color: hsl(189deg 100% 12% / 90%);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    flex-shrink: 0;
}

.personalData {
    width: 100%;
}

.footer {
    font-size: 12px;
    color: #6A7589;
    text-align: center;
    padding: 18px 15px 42px;
}

/* -------------- 393px -------------------- */

@media (max-width: 393px) {
    .ph {
        padding: 15px;
    }

    .wrapBtn {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .footer {
        padding: 23px 15px;
    }
}