.wrapBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.wrapBtn .btn {
    width: 100%;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(189, 100%, 12%);
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    word-break: break-word;
}

.btn:hover {
    background-color: hsl(189deg 100% 12% / 90%);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    flex-shrink: 0;
}